@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --primary-color: #1480EC;
    --secondary-color: white;
    --highlight-color-1: #FA9500;
    --highlight-color-2: #66CED6;
    --highlight-color-3: #FF8C42;
    --highlight-color-4: #9BC53D;
    --font-large: 28px;
    --font-medium: 22px;
    --font-small: 18px;
    --font-family: 'Roboto Mono';
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    text-align: center;
    height: 100%;
}

header {
    height: 12%;
}

main {
    height: 78%;
}

footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    font-family: var(--font-family);
    font-size: var(--font-medium);
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--highlight-color-1);
}

a:visited {
    text-decoration: none;
    color: var(--highlight-color-1);
}

input {
    font-size: var(--font-medium);
    font-family: var(--font-family);
    border: 3px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    outline: none;
    padding: 5px 15px;
}

.sent-by-this-player {
    color: var(--highlight-color-2);
}

.result-win {
    color: var(--highlight-color-4);
}

.result-lose {
    color: var(--highlight-color-3);
}

.result-tie {
    color: var(--secondary-color);
}